.voucher {
    border-color: #777;
    border-style: dashed;
    border-width: 1px;
    float: left;
    height: 338px;
    margin: 25px -2px -2px 0;
    width: 225px;
}

body {
    margin: 0;
    padding: 0;
}

img.background-image {
    width: 100%;
}

span.password {
    bottom: 67px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: lighter;
    letter-spacing: 3px;
    position: relative;
    left: 47px;
    text-transform: uppercase;
}

@media print {
    @page {
        margin: 0 auto 0;
    }
}
